<div class="row">
  <div class="col-md-12">
    <h1>Manage Your Files</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <button class="btn btn-primary" ng-click="addFile()">Add Files</button>
      <button class="btn btn-danger" ng-click="deleteSelectedFiles()">Delete Selected Files</button>
    </div>    
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>File Store</h3>
    <table class="file-table table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>
            <input type="checkbox" ng-click="selectAll()" ng-checked="isAllSelected()" />
          </th>
          <th>File Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in files" ng-class="{'info': file.selected }">
          <td>
            <input type="checkbox" ng-model="file.selected"/>
          </td>
          <td>{{file.name}}</td>
          <td>
            <button class="btn btn-default btn-sm" ng-click="deleteFile(file._id)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        <tr ng-show="files.length < 1">
          <td colspan="3" class="text-center">No files uploaded.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-6">
    <h3>Deployed Files</h3>
    <table class="file-table table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>
            <input type="checkbox" />
          </th>
          <th>File Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="file in fileStore">
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-show="fileStore.length < 1">
          <td colspan="3" class="text-center">No files deployed.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
