<div class="row">
  <div class="col-md-12">
    <h1>Manage Your Images</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <button class="btn btn-primary" ng-click="addImage()">Add Image</button>
      <button class="btn btn-primary" ng-click="deploySelected()">Deploy Selected Images</button>
      <button class="btn btn-danger" ng-click="deleteSelectedImages()">Delete Selected Images</button>
    </div>    
  </div>
</div>

<div class="row" ng-show="isDeploying">
  <div class="col-md-12">
    <div class="progress progress-striped active">
      <div class="progress-bar text-center" role="progressbar" style="width: 100%">
        Copying to sync folder...
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Image Store</h3>
    <table class="file-table table table-bordered table-hover">
      <thead>
        <tr>
          <th>
            <input type="checkbox" ng-click="selectAll()" ng-checked="isAllSelected()" />
          </th>
          <th>Image Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="image in images" ng-class="{'info': image.selected }">
          <td>
            <input type="checkbox" ng-model="image.selected"/>
          </td>
          <td>
            {{image.name}}
            <br />
            <small>{{image.files.length}} files in image</small>
          </td>
          <td>
            <button tooltip="Delete Image" class="btn btn-default btn-sm" ng-click="deleteImage(image._id)">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
          </td>
        </tr>
        <tr ng-show="images.length < 1">
          <td colspan="3" class="text-center">No images uploaded.</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Deployed Images</h3>
    <table class="file-table table table-bordered table-hover">
      <thead>
        <tr>
          <th>
            <input type="checkbox" ng-click="selectAllDeployed()" ng-checked="isAllSelectedDeployed()" />
          </th>
          <th>Image Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="image in imageStore" ng-class="{'info': image.selected}">
          <td>
            <input type="checkbox" ng-model="image.selected"/>
          </td>
          <td>
            {{image.name}}
            <br />
            <small>{{image.files.length}} files in image</small>
          </td>
          <td>
            <button class="btn btn-default" ng-click="undeploy(image._id)" tooltip="Undeploy">
              <span class="glyphicon glyphicon-open"></span>
            </button>
          </td>
        </tr>
        <tr ng-show="imageStore.length < 1">
          <td colspan="3" class="text-center">No images deployed.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
