<div class="row" id="signin-title">
  <div class="col-md-offset-4 col-md-4">
    <h1>Welcome! </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-4 well">
    <form role="form" name="form" ng-submit="login(form)" novalidate>
      <div class="form-group">
        <label for="">Email: </label>
        <input type="text" name="email" ng-model="user.email" class="form-control" required />
      </div>

      <div class="form-group">
        <label for="">Password: </label>
        <input type="password" name="password" ng-model="user.password" class="form-control" required />
      </div>

      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>