<div class="row">
  <div class="col-md-12">
    <h1>Servers <small>Manage your servers</small></h1>
  </div> 
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">      
      <button  ng-click="addServer()" class="btn btn-primary">Add New Server</button>
      <button class="btn btn-default" ng-click="refresh()">Refresh Status</button>
      <button class="btn btn-danger" ng-click="deleteSelected()" >Delete Selected</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table id="servers-table" class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>
            <input ng-checked="isAllSelected()" type="checkbox" ng-click="selectAll()" />
          </th>
          <th>Server Name</th>
          <th>Address</th>
          <th>Port</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="box in boxes | orderBy:'name' " ng-class="{ 'info': box.selected }">
          <td>
            <input type="checkbox" ng-model="box.selected" />
          </td>
          <td>{{box.name}}</td>
          <td>{{box.address}}</td>
          <td>{{box.port}}</td>
          <td>
            <span class="label" ng-class="{ 'label-danger': box.status === 'Offline', 'label-success': box.status === 'Online'  }">{{box.status}}</span>
          </td>
          <td>
            <button tooltip="Delete Server" ng-click="deleteServer(box.name)" class="btn btn-default">
              <span class="glyphicon glyphicon-trash"></span>
            </button>
            <button tooltip="Edit Information" ng-click="editServer(box.name)" class="btn btn-default">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </td>
        </tr>
        <tr ng-show="boxes.length < 1">
          <td colspan="6" class="text-center">No servers added.</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>