<div class="row">
  <div class="col-md-12">
    <h1>Servers</h1>
  </div> 
</div>

<div class="row">
  <div class="col-md-12 well">
    <button class="btn btn-primary">Add New Server</button>
    <button class="btn btn-default">Refresh Status</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th>Server Name</th>
          <th>Address</th>
          <th>Port</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="box in boxes">        
          <td>{{box.name}}</td>
          <td>{{box.address}}</td>
          <td>{{box.port}}</td>
          <td>
            <span class="label" ng-class="{ 'label-danger': box.status === 'Offline', 'label-success': box.status === 'Online'  }">{{box.status}}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>