<nav ng-controller="NavbarCtrl" class="navbar-fixed-top navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Overlord</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul ng-show="isLoggedIn()" class="nav navbar-nav">
      <li ng-class="{ active: isActive(link.link) }" ng-repeat="link in links">
        <a ng-href="{{link.link}}">{{link.title}}</a>
      </li>
    </ul>
    
    <ul ng-show="isLoggedIn()" class="nav navbar-nav navbar-right">
      <li>
        <p class="navbar-text">Signed in as {{user.name}}</p>
      </li>
      <li>
          <button id="logout-btn" ng-click="logout()" class="btn btn-default navbar-btn">Logout</button>            
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>