<li>
  {{file.fileName}}
  <span class="pull-right">
    <span class="glyphicon glyphicon-pause cursor-pointer" ng-show="file.isUploading()" ng-click="file.abort()"></span>
    <span class="glyphicon glyphicon-repeat cursor-pointer" ng-show="!file.isUploading() && !isComplete" ng-click="retry()"></span>
    <span class="glyphicon glyphicon-remove cursor-pointer" ng-show="!file.isUploading() && !isComplete" ng-click="file.cancel()"></span>
  </span>
  <div class="progress">
    <div class="progress-bar text-center" role="progressbar">
      <span ng-show="isComplete">Completed</span>
    </div>
  </div>
</li>