<div class="row">
  <div class="col-md-12">
    <h1>Scripts</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form role="form">
      <div class="form-group">
        <input type="text" class="form-control" id="" placeholder="Enter description for your script">
      </div>
      
      <div class="form-group" id="script-editor">
        <div ui-ace="editorOptions"></div>
      </div>
      <button type="submit" class="pull-right btn btn-primary">Add New Script</button>
    </form>
  </div>
</div>
