<div class="row">
  <div class="col-md-12">
    <h1>Add a New Script</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <form role="form" ng-submit="runCommand()">
      <div class="form-group">
        <input type="text" class="form-control" id="" placeholder="Enter description for your script" focus />
      </div>
      
      <div class="form-group" id="script-editor">
        <div ng-model="command" ui-ace="editorOptions"></div>
      </div>
      <button type="submit" class="pull-right btn btn-primary">Add New Script</button>
    </form>
  </div>
</div>

<div id="output-table" class="row" ng-show="replies.length > 0">
  <div class="col-md-12">
    <div>      
      <table class="table table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th>Server</th>
            <th>Output</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="reply in replies">
            <td>
              <span class="label label-primary">{{reply.name}}</span>
            </td>
            <td>
              <pre>{{reply.reply}}</pre>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
