<div class="row">
  <div class="col-md-12">
    <h1>Upload a New File</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="well">
      <button resumable-browse class="btn btn-primary">Browse</button>
      <button class="btn btn-danger" ng-click="r.cancel()" ng-show="haveFiles">Cancel Upload</button>
      <button class="btn btn-success" ng-click="r.upload()" ng-show="haveFiles">Start Uploads</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div resumable-drop id="drop-zone">
      <p>
        Drag and drop your files here        
      </p>      
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <ul id="upload-list">
      <li ng-repeat="file in r.files" resumable-file="file"></li>
    </ul>
  </div>
</div>
