#main-container {
  padding-top: 50px;
}

#signin-title {
  margin-top: 50px;
}

#logout-btn{
  margin-right: 25px;
}

#servers-table {
  table-layout: fixed;
}

#servers-table thead th:first-child {
  width: 5%;
}

#servers-table thead th:first-child,
#servers-table thead th:nth-child(3),
#servers-table thead th:nth-child(4),
#servers-table thead th:nth-child(5),
#servers-table thead th:nth-child(6) {
  text-align: center;
}

#servers-table tbody td:first-child,
#servers-table tbody td:nth-child(3),
#servers-table tbody td:nth-child(4),
#servers-table tbody td:nth-child(5),
#servers-table tbody td:nth-child(6) {
  text-align: center;
}

#servers-table thead th:nth-child(2) {
  width: 30%;
}

.ace_editor {
  height: 250px;
}

#script-editor {
  border: solid gainsboro 1px;
}

input[type="checkbox"]:hover{
  cursor: pointer;
}

#drop-zone {
  margin-top: 10px;
  border: 5px dashed gainsboro;
  height: 100px;
  text-align: center;
}

#drop-zone:hover {
  cursor: move;
}

#drop-zone p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -100px;
}

#drop-zone.resumable-dragover {
  background-color: rgb(226,239,247);
  cursor: move;
}

#upload-list {
  margin-top: 20px;
  list-style: none;
  padding-left: 0;
}

.cursor-pointer {
 cursor: pointer;
}