#main-container {
  padding-top: 50px;
}

#signin-title {
  margin-top: 50px;
}

#logout-btn{
  margin-right: 25px;
}

#servers-table {
  table-layout: fixed;
}

#servers-table thead th:first-child {
  width: 5%;
}

#servers-table thead th:first-child,
#servers-table thead th:nth-child(3),
#servers-table thead th:nth-child(4),
#servers-table thead th:nth-child(5),
#servers-table thead th:nth-child(6) {
  text-align: center;
}

#servers-table tbody td:first-child,
#servers-table tbody td:nth-child(3),
#servers-table tbody td:nth-child(4),
#servers-table tbody td:nth-child(5),
#servers-table tbody td:nth-child(6) {
  text-align: center;
}

#servers-table thead th:nth-child(2) {
  width: 30%;
}